.facility{
    background-size: 1000px;
    background-image: url(images/h_img.jpg);
};
.d{
    text-align: center;
    font-size: 50px;
};
.welcome{
    text-align: center
    font-size: 50px;
};
.delani{
    text-align: center;
    font-size: 50px;
};
.amzing{
    display: inline;
    font-size: 20px;
    text-align: center;
};
