.facility{
    height: 100vh;
    background-image: url('./images/h_img.jpg');
    background-repeat: no-repeat;
    font-size: 30px;
    color: white;
};
.about-us{
    font-size: 20px;
    margin-top: 20px;
};
.tertiary-content{
    background-image: url('./images/c_image.jpg');
};
.d{
    text-align: center;
    font-size: 50px;
};
.welcome{
    text-align: center;
    font-size: 50px;
};
.delani{
    text-align: center;
    font-size: 50px;
};
.amazing{
    display: inline;
    font-size: 20px;
    text-align: center;
};
.about{
    text-align: center;
    font-size: 20px;
};
.our{
    text-align: center;
    font-size: 20px;
};
.we{
    text-align: center;
    font-size: 20px;
};
.then{
    text-align: center;
    font-size: 20px;
};
.about{
    background-size: 500px;
    font-weight: 300px;    
};
.service{
    justify-content: center;
    text-align: center;
    background-size: 700px;
    background-image: url(images/s_image.jpg);
};
.bailey{
    background-size: 200px;
    background-image: url(images/work8.jpg);
};
.contact-us{
    background-image: url(images/c_image.jpg);
};
.icons{
    justify-content: center;
};

